.custom-calendar {
  border: none !important;

  :global(.sue-calendar-month-row) {
    height: auto;
    min-height: 121px;
  }

  :global(.sue-calendar-month-with-days .sue-calendar-month-row) {
    height: 32px;
    min-height: unset;
  }

  :global(.sue-calendar-body) {
    padding: 0 20px;
  }

  :global(.sue-calendar-week-list-item) {
    text-align: center;
    padding: 12px;
  }
}
