.splitterWrap {
  min-width: 0;
  min-height: 0;
}

.splitter {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.asidePanel,
.contentPanel {
  padding: 0 !important;
  overflow: hidden !important;
  min-width: 0;
}

.asidePanel {
  background: var(--sue-color-bg-container);

  ::-webkit-scrollbar {
    width: 12px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 7px;
    background-color: var(--color-text-4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text-3);
  }

  > :global(*) {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}

.contentPanel > :global(*) {
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.splitterDragger:global(.sue-splitter-bar-dragger)::after {
  display: none;
}

.splitterDragger:global(.sue-splitter-bar-dragger):hover::before,
.splitterDraggerActive:global(.sue-splitter-bar-dragger-active)::before {
  background: var(--sue-color-primary) !important;
}

.icon {
  font-size: 18px;
  vertical-align: text-bottom;
}

.icon-empty {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.layout-content {
  background-color: var(--color-fill-2);
  height: 100%;
  min-width: 0;
  padding: 12px 16px;
}

.layout-content-bleed {
  padding: 0;
  background-color: var(--sue-color-bg-container);
}

.spin {
  width: 100%;
}
