.custom-collapse {
  :global(.sue-collapse-item) {
    border: none !important;
  }

  :global(.sue-collapse-header) {
    border: none !important;
    padding-left: 24px;
    font-weight: 500;
  }

  :global(.sue-collapse-expand-icon) {
    left: 0 !important;
  }

  :global(.sue-collapse-item > .sue-collapse-panel > .sue-collapse-body) {
    padding: 0 !important;
  }
}
